.link_icon {
  white-space: nowrap;
  overflow: auto;
  padding: 10px 0; }
.link_icon .link_item {
  display: inline-block;
  width: 50px;
  overflow: hidden;
  text-align: center; }
.link_icon .link_item .icon {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background: #ff8383;
  border-radius: 50%; }
.link_icon .link_item .txt {
  line-height: 20px; }
