.sTop {
  position: relative;
  width: 100%;
}
.Num a{
  position: relative;
}

.NumList {
  position: absolute;
  top: 20px;
  background: rgba(0,0,0,.1);
  z-index: 0;
}
.NumList a {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #ff8484;
  border-radius: 5px;
}
.TopR {
  position: absolute;
  top: 0;
  right: 10px;
}
.TopR  a {
  padding: 5px;
}

.lists {
  position: relative;
  padding: 10px 0;
  margin-bottom: 10px;
}
.lists img {
  width: 40px;
  height: 40px;
  background: rgba(255, 132, 132, 0.21);
  border-radius: 40px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.txt {
  float: left;
  padding: 5px 0;
}
.lists {
  clear: both;
}
.lists .title {
  line-height: 20px;
  font-size: 14px;
}
.listNum span{
  color: rgba(204, 204, 204, 0.74);
  display: inline-block;
  margin-right: 5px;
  font-size: 10px;
}

.time {
  position: absolute;
  top: 14px;
  right: 10px;
  color: rgba(204, 204, 204, 0.74);

}