.album {
  width: 100%;

  .albumheader {
    height: 100px;
    .img {
      width: 100px;
      height: 100px;
      border: 4px  #ffffff;
      top: 10px;
      left: 10px;
    }
    .container {
      margin-left: 120px;

    p {
      line-height: 24px;

    }
    }
  }
}