.love {
  //width: 100vw;
  padding: 0 10px;
  .love_title {
    display: flex;
    justify-content: space-between;

    .love_t{
      flex: 1;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .more {
      align-self: center;
      margin-bottom: 10px;
    }
  }
  .love_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .love_con {
      text-align: center;
      margin-bottom: 10px;
      flex: 0 1 33%;

      .con_item {
        max-width: 200px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
      }

      .img_bg {
        width: 95%;
        max-height: 200px;
        max-width: 200px;
        height: 100%;
      }
      .img {
        text-align: right;
        .img_number {
          color: #ff8484;
        }
      }
      .item_txt {
        padding: 4px 10px;
      }

    }
  }
}