
.love {
  padding: 10px 10px; }

.love_title {
  text-align: justify;
  padding: 10px 0;
  font-size: 0; }
.love_title .love_t {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display: inline-block; }
.love_title .more {
  display: inline-block;
  font-size: 12px;
  color: #999999; }


.love_list {
  text-align: justify;
  display: inline-block;
  font-size: 0;
}
.love_con {
  display: inline-block;
  width: 30%;
  }
.love_con .con_item {

  vertical-align: top;
  padding-bottom: 5px; }
.love_con .con_item .img, .con_item .img_bg{
  display: inline-block;
  width: 100%;
  /*position: relative;*/
  height: 100px;
  background: #ff8484; }
.love_con .con_item .img .img_number {
  /*position: absolute;*/
  left: 5px;
  bottom: 5px;
  font-size: 12px;
  color: #ffffff; }
.love_con .con_item .item_txt {
  font-size: 12px;
  color: #222222;
  line-height: 18px; }