.headerTop {
  .top {
    width: 100%;
    padding: 10px 20px;
    text-align: justify;
    font-size: 0;
    background: #ffffff; }
  .top .xinxi {
    display: inline-block;
    width: 10%;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
  }
  .top .input {
    vertical-align: middle;
    width: 60%; }
  .top .input input {
    font-size: 16px;
    line-height: 30px;
    min-width: 160px;
    width: 100%;
    padding: 0 10px;
    border-radius: 40px;
    background: #ededed;
    color: #999999;
    white-space: nowrap;
    text-overflow: ellipsis;
    outline: 0;
    border: 0; }
  .top .top_r {
    width: 22%;
    max-width: 80px;
    height: 30px;
    text-align: justify;
    vertical-align: middle;
    display: inline-block; }
  .top .top_r a {
    width: 50%;
    display: inline-block;
    line-height: 30px;
    font-size: 14px;
    vertical-align: middle; }


}
