.DetailTitle {
  padding: 10px ;
}
.DetailTitle .title {
  clear: both;
}
.title .img{
  display: block;
  float: left;
  width: 26%;
  height: 100px;
  background: #ff8484;
  margin-right: 10px;
}
.container {
  float: left;
}

.container h3 {
  padding-top: 10px;
  line-height: 1.6;
}
.container p {
  line-height: 1.6;
}
.container p a {
  color: #ff8484;
}

.btn {
  padding: 10px 0;
  width: 100%;
  display: inline-block;
  text-align: justify;
}
.btn .btnL,.btn .btnR {
  cursor: pointer;
  display: inline-block;
  width: 45%;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
}
.btnL {
  float: left;
  background: #ff8484;
}
.btnR {
  float: right;
  background: #00e5ff;
}

.smallTitle {
  width: 100%;
  background: rgba(255, 255, 104, 0.42);
}
.smallTitle img {
  display: inline-block;
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: rgba(91, 182, 255, 0.24);
}
.smallTitle  span {
  display: inline-block;
  line-height: 40px;
}
.more {
  float: right;
  margin-right: 10px;
}

.DetailTabs a{
  display: inline-block;
  padding: 10px 0;
  width: 33%;
  text-align: center;
}
.DetailTabs a.active {
  color: #ff8484;
  border-bottom:2px solid #ff8484;
}

.DetailZhubo {

}

.DetailZhubo .title {
  padding: 10px 0;
  clear: both;
}
.DetailZhubo .TitleC {
  position: relative;
}
.DetailZhubo .TitleC img {
  width: 60px;
  height: 60px;
  background: rgba(255, 132, 132, 0.18);
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.DetailZhubo .TitleC .gz {
  position: absolute;
  top: 10px;
  right: 10px;
}
.DetailZhubo .TitleT h4 {
  line-height: 24px;
}
.DetailZhubo .TitleT span {
  line-height: 24px;
}
.DetailZhubo .txt {
  clear: both;
  padding: 10px 0;
  line-height: 18px;

}
.zjbq {
  width: 100%;
}
.zjbq .zbItme {
  display: inline-block;
  width: 30%;
  line-height: 24px;
  border: 1px solid #ff8484;
  margin:5px 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px;
}