.top {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #dedede;
  height: 60px;
}

.top_l, .top_r {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #666666;
  width: 60px;

  display: flex;
  align-items: center;
}

.top_l_icon, .top_r_icon, .search_icon {
  width: 16px;
  height: 16px;
  border-radius: 40px;
  background: #ff8484;
  margin: 0 5px;
}

.search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background: #ffffff;
  border-radius: 40px;
  padding: 5px 10px;
  align-content: center;
  margin: 0 10px;


}

.search input {
  width: 100%;
  font-size: 14px;
  outline: 0;
  border: 0;
}